# Sample exercises for practice
## Fibonacci series
A function that returns the nth term in the Fibbonacci-like series, where we sum the given number of previous terms

In [1]:
def fibonacci(nth, terms):
    if nth in range(0,terms):
        return 1
    else:
        sum = fibonacci(nth-1, terms)
        for i in range(1, terms):
            sum += fibonacci(nth-1-i, terms)
        return sum

In [2]:
terms = 4
print(f"First: {fibonacci(0, terms)}")
print(f"Second: {fibonacci(1, terms)}")

First: 1
Second: 1

In [20]:
print("Printing ten Fobinacci numbers:")
print(list(fibonacci(nth, terms) for nth in range(0,10)))

Printing ten Fobinacci numbers:
[1, 1, 1, 1, 4, 7, 13, 25, 49, 94]

## Sorting numbers in different ways

In [3]:
# List sorting and removing duplicates
mylist = [3,5,23,34,1,32,87,2,5,5,1,87]

def sort1(nums):
    return sorted(set(nums))

def sort2(nums):
    no_dupes = []
    for num in nums: 
        if not num in no_dupes:
            no_dupes.append(num)
    sorted_nums = []
    while len(no_dupes)>0:
        sorted_nums.append(min(no_dupes))
        no_dupes.pop(no_dupes.index(sorted_nums[-1]))
    return sorted_nums

def sort3(nums):
    for index, num in enumerate(nums): 
        if num in nums[index+1::]:
            nums.pop(index)
    swaps = True
    while swaps:
        swaps = False
        for i in range(0,len(nums)-1):
            if nums[i] > nums[i+1]:
                temp = nums[i+1]
                nums[i+1] = nums[i]
                nums[i] = temp
                swaps=True
    return nums

In [4]:
print(f"Sorted with method 1: {sort1(mylist)}")
print(f"Sorted with method 2: {sort2(mylist)}")
print(f"Sorted with method 3: {sort3(mylist)}")

Sorted with method 1: [1, 2, 3, 5, 23, 32, 34, 87]
Sorted with method 2: [1, 2, 3, 5, 23, 32, 34, 87]
Sorted with method 3: [1, 2, 3, 5, 23, 32, 34, 87]

## How about the pandas thing...

In [3]:
import numpy as np
import pandas as pd

In [4]:
x = pd.Series([7,6,5,4,3,np.nan])
x

0    7.0
1    6.0
2    5.0
3    4.0
4    3.0
5    NaN
dtype: float64

In [5]:
y=pd.DataFrame({"Adam": 234, "Kris": [1,2,3]}, index=range(2,5))
y

   Adam  Kris
2   234     1
3   234     2
4   234     3

In [19]:
type(y.Adam)

pandas.core.series.Series

## Multiples of 3 and 5

If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below 1000.

In [4]:
def list_multiples(nums, limit):
    multiples = []
    for i in range (1, limit+1):
        for index, num in enumerate(nums):
            if i % num == 0:
                multiples.append(i)
                break                
    return multiples
        
def sum_multiples(nums, limit):
    return sum(list_multiples(nums, limit))

In [5]:
nums=[3,5]
limit=100
print(f"List multiples of {str(nums)} until 20: {list_multiples(nums, 20)}")
print(f"And their sum is {sum(mulitples(nums, limit))}")

List multiples of 3 and 5 until 20: [3, 5, 6, 9, 10, 12, 15, 18, 20]

## Even Fibonacci numbers

Each new term in the Fibonacci sequence is generated by adding the previous two terms. By starting with 1 and 2, the first 10 terms will be:

1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...

By considering the terms in the Fibonacci sequence whose values do not exceed four million, find the sum of the even-valued terms.

In [2]:
terms = [1,1]
fib_sum = 0
limit = 4000000
while terms[1] < limit:
    terms.append(terms[0]+terms[1])
    terms.pop(0)
    if terms[1] % 2 == 0:
        fib_sum += terms[1]

print(f"The sum of even Fibonacci numbers up to {limit} is {fib_sum}")

The sum of even Fibonacci numbers up to 4000000 is 4613732

## Largest prime factor

The prime factors of 13195 are 5, 7, 13 and 29.

What is the largest prime factor of the number 600851475143 ?

In [16]:


def find_factors(num): 
    factors = []
    limit = num
    i = 2
    while i < limit:
        if num % i == 0:
            factors.append(i)
            factors.append(int(num/i))
            limit = int(num/i)
        i += 1
    return factors

num = 600851475143
factors = sorted(find_factors(num), reverse=True)
print(f"Factors of {num} are {factors}")
for factor in factors: 
    subfactors = find_factors(factor)
    if not subfactors:
        largest_factor = factor
        break
        
print(f"The largest factor of {num} is {largest_factor}.")

Factors of 600851475143 are [8462696833, 716151937, 408464633, 87625999, 10086647, 5753023, 1234169, 486847, 104441, 59569, 6857, 1471, 839, 71]
The largest factor of 600851475143 is 6857.

## Largest palindrome product

A palindromic number reads the same both ways. The largest palindrome made from the product of two 2-digit numbers is 9009 = 91 Ã— 99.

Find the largest palindrome made from the product of two 3-digit numbers.

In [33]:
def is_palindrome(num: int):
    return list(reversed(list(str(num)))) == list(str(num))

digits = 3
max_num = int("1"+(digits)*"0")
min_num  = int("1"+(digits-1)*"0")
mult_table = set()
for x in range(min_num, max_num):
    for y in range(min_num, max_num):
        mult_table.add(x*y)

found=False
num=(max_num-1)**2
while found is False:
    if is_palindrome(num):
        if num in mult_table:
            found = True
            print(f"Found a palindrome: {num} that is in the multiplication table")
    num -= 1

Found a palindrome: 906609 that is in the multiplication table